<div class="row">
    <p><a href="#">As seen On</a></p>
    <div class="str3 str_wrap">
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_01.png" alt="parnter logo"></a>
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_02.png" alt="parnter logo"></a>
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_03.png" alt="parnter logo"></a>
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_04.png" alt="parnter logo"></a>
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_06.png" alt="parnter logo"></a>
        <a href=""><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/sponsor_02.png" alt="parnter logo"></a>
    </div>
</div>