<div class="row">
    <div class="mainHeading">
        <div class="large-7 medium-8 large-centered medium-centered columns">
            <h2>PREMIUM ADVERTISEMENT</h2>
            <p><span class="line"><i class="fa fa-circle"></i></span></p>
            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.Phasellusaccumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.</p>
        </div>
    </div><!--End mainHeading-->
</div><!--End Heading row-->
<div class="customNavigation hide-for-small hide-for-medium">
    <div class="row">
        <div class="medium-4 medium-centered columns">
            <div class="navText">
                <a class="prev"><i class="fa fa-angle-left"></i></a>
                <span>Previous</span>
                <span>Next</span>
                <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div><!--End customNavigation-->
<!--Start Premium Carousel-->
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-responsive-1000">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-1587px, 0px, 0px); transition: 0.25s; width: 3703px;">
            <div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-17-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#4bb38b;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/">
                                <span class="info">
                                    <i class="fa fa-github-alt" style="background-color:#4bb38b"></i>
                                    <span class="title">Cute Puppy for sales</span>
                                    <small>
                                        Category :
                                        Dogs
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-16-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#d4849f;">$1500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/designing-jobs/">
                                <span class="info">
                                    <i class="fa fa-black-tie" style="background-color:#d4849f"></i>
                                    <span class="title">Designing jobs</span>
                                    <small>
                                        Category :
                                        Design &amp; Code
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/Mens-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#435c70;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/mens-accessories/">
                                <span class="info">
                                    <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                    <span class="title">Mens accessories</span>
                                    <small>
                                        Category :
                                        Photography
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/car-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#a676b8;">$2500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/classic-car-for-sale/">
                                <span class="info">
                                    <i class="fa fa-car" style="background-color:#a676b8"></i>
                                    <span class="title">Classic Car For Sale</span>
                                    <small>
                                        Category :
                                        Classic &amp; Fancy
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/tab-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#72a0d9;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/">
                                <span class="info">
                                    <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                    <span class="title">Latest Tab for sale</span>
                                    <small>
                                        Category :
                                        Mobile &amp; Tablets
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-18-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#435c70;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/photography-services/">
                                <span class="info">
                                    <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                    <span class="title">Photography Services</span>
                                    <small>
                                        Category :
                                        Photography
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item active" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-17-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#4bb38b;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/">
                                <span class="info">
                                    <i class="fa fa-github-alt" style="background-color:#4bb38b"></i>
                                    <span class="title">Cute Puppy for sales</span>
                                    <small>
                                        Category :
                                        Dogs
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item active" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-16-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#d4849f;">$1500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/designing-jobs/">
                                <span class="info">
                                    <i class="fa fa-black-tie" style="background-color:#d4849f"></i>
                                    <span class="title">Designing jobs</span>
                                    <small>
                                        Category :
                                        Design &amp; Code
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item active" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/Mens-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#435c70;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/mens-accessories/">
                                <span class="info">
                                    <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                    <span class="title">Mens accessories</span>
                                    <small>
                                        Category :
                                        Photography
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item active" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/car-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#a676b8;">$2500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/classic-car-for-sale/">
                                <span class="info">
                                    <i class="fa fa-car" style="background-color:#a676b8"></i>
                                    <span class="title">Classic Car For Sale</span>
                                    <small>
                                        Category :
                                        Classic &amp; Fancy
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/tab-01-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#72a0d9;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/">
                                <span class="info">
                                    <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                    <span class="title">Latest Tab for sale</span>
                                    <small>
                                        Category :
                                        Mobile &amp; Tablets
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-18-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#435c70;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/photography-services/">
                                <span class="info">
                                    <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                    <span class="title">Photography Services</span>
                                    <small>
                                        Category :
                                        Photography
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-17-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#4bb38b;">$500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/">
                                <span class="info">
                                    <i class="fa fa-github-alt" style="background-color:#4bb38b"></i>
                                    <span class="title">Cute Puppy for sales</span>
                                    <small>
                                        Category :
                                        Dogs
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div><div class="owl-item cloned" style="width: 264.5px; margin-right: 0px;">
                <div class="item">
                    <div class="carousel">
                        <div class="premiumIMG"><img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-16-400x250.jpg" alt="Image" class="hoverZoomLink"></div>

                        <span class="price" style="background:#d4849f;">$1500</span>
                        <div class="hover">
                            <a href="http://demo.joinwebs.com/classiera/designing-jobs/">
                                <span class="info">
                                    <i class="fa fa-black-tie" style="background-color:#d4849f"></i>
                                    <span class="title">Designing jobs</span>
                                    <small>
                                        Category :
                                        Design &amp; Code
                                    </small>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div>
</div><!--End Premium Carousel-->
