<div class="row">
    <div class="mainHeading">
        <div class="large-7 medium-8 large-centered medium-centered columns">
            <h2>Ads Locations</h2>
            <p><span class="line"><i class="fa fa-circle"></i></span></p>
            <p>
                Classiera provided you a ads location section where you can add your desired locations
                there is no limit for the locations so do it as you would like to.
            </p>
        </div>
    </div>
</div>
<div class="row locations">
    <div class="large-4 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/redhill.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=Redhill">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        Redhill
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>
    <div class="large-4 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/London.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=London">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        London
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>
    <div class="large-4 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/kingston.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=Kingston">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        Kingston
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>
    <div class="large-3 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/Clapham.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=Clapham">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        Clapham
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>
    <div class="large-3 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/Chelsea.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=Chelsea">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        Chelsea
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>
    <div class="large-6 medium-6 columns end">
        <div class="location-img">
            <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2016/06/06.jpg" alt="locations">
            <a href="http://demo.joinwebs.com/classiera/locations/?location=Barnes">
                <i class="fa fa-map-marker"></i>
                <span class="location-details">
                    <span class="loc-title">
                        Barnes
                    </span>
                    <span class="ads-in-loc">0							Ads Available						</span>
                </span>
            </a>
        </div>
    </div>

</div>