<section class="container" role="document">

    <!-- page Heading -->

    <section class="pageHeading removeMargin" style="background:url(http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/inner-bg.png);">
        <div class="row">
            <h3>All Categories</h3>
            <p>Contrary To Popular Belief</p>
        </div>
    </section>
    <!-- End page Heading -->
    <!-- Ads Categories -->
    <section id="adsCategory">
        @Html.Partial("_CategoryV2Partial")
    </section>

    <section id="company">
        <!-- Company Logos-->
        @Html.Partial("_CompanyPartial")
    </section>
</section>
