@model RVHD.Models.AdsViewModels.AdsViewModel
@{
    ViewData["Title"] = "SelectOther";
    Layout = "~/Views/SubmitAd/_Layout.cshtml";
}
<form asp-area="" asp-controller="submitAd" asp-action="SelectOther" method="post">
    <button type="submit"></button>

</form>
    <h2>SelectOther</h2>

