<section class="container" role="document">

    <!-- Start ClassiEra Content Section-->
    <section class="pageHeading" style="background:url(http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/inner-bg.png);">
        <div class="row">
            <h3>Pricing Plans</h3>
            <p>Choose a Premium Plan for Featured Ads</p>
        </div>
    </section><!-- End page Heading -->
    <!--Content from WordPress Editor -->
    <section id="page-content">
        <div class="row">
            <div class="large-12 columns">
            </div>
        </div>
    </section>
    <!-- End Content From WordPress Editor -->
    <!-- pricing plan Start-->
    <section id="pricingPlan">
        <div class="row">
            <div class="mainHeading">
                <div class="large-7 medium-8 large-centered medium-centered columns">
                    <h2>Find a plan that’s right for you</h2>
                    <p><span class="line"><i class="fa fa-circle"></i></span></p>
                    <p>A advertisement section where we have two types of ads listing one with grids and the other one with list view latest ads, popular ads &amp; random ads also featured ads wil show below.</p>
                </div>
            </div>
        </div><!--End Heading Row-->
        <div class="row">
            <div class="large-4 medium-6 large-uncentered columns priceTable end">
                <div class="pricePlan plans-innerHover">
                    <div class="title">
                        <h1>01</h1>
                        <h3>Silver</h3>
                    </div><!--End Title Div-->

                    <div class="price">
                        <p class="plans-inner">$5 <span>/5D</span></p>
                        <p>Get Started with Classiera</p>
                    </div><!--End Price div-->
                    <ul class="description plans-inner-i">
                        <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                        <li><i class="fa fa-check-square"></i>5&nbsp;Featured ads availability</li>
                        <li><i class="fa fa-check-square"></i>For&nbsp;5&nbsp;days</li>
                        <li><i class="fa fa-check-square"></i>100% Secure!</li>
                    </ul>
                    <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                        <input type="hidden" name="AMT" value="5">
                        <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Silver">
                        <input type="hidden" name="CURRENCYCODE" value="USD">
                        <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="5915914d90041">
                        <input type="hidden" name="user_ID" value="2">
                        <input type="hidden" name="plan_name" value="Silver">
                        <input type="hidden" name="plan_ads" value="5">
                        <input type="hidden" name="plan_price" value="5">
                        <input type="hidden" name="plan_time" value="5">
                        <input type="hidden" name="date" value="12/05/2017 10:41:17">
                        <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">
                        <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="func" value="start">
                        <button class="button round form-submit" id="submit-plan" name="op" value="Purchase Now" type="submit">Purchase Now</button>
                    </form>
                </div>
            </div>
            <div class="large-4 medium-6 large-uncentered columns priceTable end">
                <div class="pricePlan plans-innerHover">
                    <div class="title">
                        <h1>02</h1>
                        <h3>Standard</h3>
                    </div><!--End Title Div-->

                    <div class="price">
                        <p class="plans-inner">$12 <span>/25D</span></p>
                        <p>Get Started With Classiera Standard</p>
                    </div><!--End Price div-->
                    <ul class="description plans-inner-i">
                        <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                        <li><i class="fa fa-check-square"></i>6&nbsp;Featured ads availability</li>
                        <li><i class="fa fa-check-square"></i>For&nbsp;25&nbsp;days</li>
                        <li><i class="fa fa-check-square"></i>100% Secure!</li>
                    </ul>
                    <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                        <input type="hidden" name="AMT" value="12">
                        <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Standard">
                        <input type="hidden" name="CURRENCYCODE" value="USD">
                        <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="5915914d904d8">
                        <input type="hidden" name="user_ID" value="2">
                        <input type="hidden" name="plan_name" value="Standard">
                        <input type="hidden" name="plan_ads" value="6">
                        <input type="hidden" name="plan_price" value="12">
                        <input type="hidden" name="plan_time" value="25">
                        <input type="hidden" name="date" value="12/05/2017 10:41:17">
                        <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">
                        <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="func" value="start">
                        <button class="button round form-submit" id="submit-plan" name="op" value="Purchase Now" type="submit">Purchase Now</button>
                    </form>
                </div>
            </div>
            <div class="large-4 medium-6 large-uncentered columns priceTable end">
                <div class="pricePlan plans-innerHover">
                    <div class="title">
                        <h1>03</h1>
                        <h3>Platinum</h3>
                    </div><!--End Title Div-->

                    <div class="price">
                        <p class="plans-inner">$29 <span>/30D</span></p>
                        <p>Get Started With Classiera Platinum</p>
                    </div><!--End Price div-->
                    <ul class="description plans-inner-i">
                        <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                        <li><i class="fa fa-check-square"></i>30&nbsp;Featured ads availability</li>
                        <li><i class="fa fa-check-square"></i>For&nbsp;30&nbsp;days</li>
                        <li><i class="fa fa-check-square"></i>100% Secure!</li>
                    </ul>
                    <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                        <input type="hidden" name="AMT" value="29">
                        <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Platinum">
                        <input type="hidden" name="CURRENCYCODE" value="USD">
                        <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="5915914d908ef">
                        <input type="hidden" name="user_ID" value="2">
                        <input type="hidden" name="plan_name" value="Platinum">
                        <input type="hidden" name="plan_ads" value="30">
                        <input type="hidden" name="plan_price" value="29">
                        <input type="hidden" name="plan_time" value="30">
                        <input type="hidden" name="date" value="12/05/2017 10:41:17">
                        <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">
                        <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="func" value="start">
                        <button class="button round form-submit" id="submit-plan" name="op" value="Purchase Now" type="submit">Purchase Now</button>
                    </form>
                </div>
            </div>
            <div class="large-4 medium-6 large-uncentered columns priceTable end">
                <div class="pricePlan plans-innerHover">
                    <div class="title">
                        <h1>04</h1>
                        <h3>Premium</h3>
                    </div><!--End Title Div-->

                    <div class="price">
                        <p class="plans-inner">$40 <span>/40D</span></p>
                        <p></p>
                    </div><!--End Price div-->
                    <ul class="description plans-inner-i">
                        <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                        <li><i class="fa fa-check-square"></i>40&nbsp;Featured ads availability</li>
                        <li><i class="fa fa-check-square"></i>For&nbsp;40&nbsp;days</li>
                        <li><i class="fa fa-check-square"></i>100% Secure!</li>
                    </ul>
                    <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                        <input type="hidden" name="AMT" value="40">
                        <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Premium">
                        <input type="hidden" name="CURRENCYCODE" value="USD">
                        <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="5915914d90d05">
                        <input type="hidden" name="user_ID" value="2">
                        <input type="hidden" name="plan_name" value="Premium">
                        <input type="hidden" name="plan_ads" value="40">
                        <input type="hidden" name="plan_price" value="40">
                        <input type="hidden" name="plan_time" value="40">
                        <input type="hidden" name="date" value="12/05/2017 10:41:17">
                        <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">
                        <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">
                        <input type="hidden" name="func" value="start">
                        <button class="button round form-submit" id="submit-plan" name="op" value="Purchase Now" type="submit">Purchase Now</button>
                    </form>
                </div>
            </div>
        </div><!--End Plans Row-->
    </section>
    <!-- pricing plan End-->
    <!-- Company Section Start-->

    <section id="company">
        <!-- Company Logos-->
        @Html.Partial("~/Views/Home/CompanyPartial.cshtml")
    </section>
    <!-- Company Section End-->


</section>