    <div class="row">
        <div class="mainHeading">
            <div class="large-6 medium-8 large-centered medium-centered columns">
                <h4 class="active">Find a plan that’s right for you</h4>
                <p>A advertisement section where we have two types of ads listing one with grids and the other one with list view latest ads, popular ads &amp; random ads also featured ads wil show below.</p>
            </div>
        </div>
    </div><!--End row -->
    <div class="row">

        <div class="large-3 medium-6 large-uncentered medium-centered columns priceTable ">
            <div class="pricePlanV1">
                <!--End Featured Plans Title -->
                <div class="title">
                    <h1>01</h1>
                    <h3>Silver</h3>
                </div><!--End Title Div-->
                <div class="price">
                    <p>$5 <span>/5D</span></p>
                    <p>Get Started with Classiera</p>
                </div><!--End Price Div-->
                <ul class="description">
                    <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                    <li><i class="fa fa-check-square"></i>5&nbsp;Featured ads availability</li>
                    <li><i class="fa fa-check-square"></i>For&nbsp;5&nbsp;days</li>
                    <li><i class="fa fa-check-square"></i>100% Secure!</li>
                </ul>

                <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                    <input type="hidden" name="AMT" value="5">
                    <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Silver">
                    <input type="hidden" name="CURRENCYCODE" value="USD">

                    <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="59141914a2a95">

                    <input type="hidden" name="user_ID" value="9338">

                    <input type="hidden" name="plan_name" value="Silver">

                    <input type="hidden" name="plan_ads" value="5">

                    <input type="hidden" name="plan_price" value="5">

                    <input type="hidden" name="plan_time" value="5">

                    <input type="hidden" name="date" value="11/05/2017 07:56:04">

                    <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">


                    <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="func" value="start">
                    <button class="form-submit button radius buyBtn" name="op" value="Purchase Now" type="submit">Buy Now</button>

                </form>
            </div>
        </div><!--End Main Col Div -->

        <div class="large-3 medium-6 large-uncentered medium-centered columns priceTable ">
            <div class="pricePlanV1">
                <!--End Featured Plans Title -->
                <div class="title">
                    <h1>02</h1>
                    <h3>Standard</h3>
                </div><!--End Title Div-->
                <div class="price">
                    <p>$12 <span>/25D</span></p>
                    <p>Get Started With Classiera Standard</p>
                </div><!--End Price Div-->
                <ul class="description">
                    <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                    <li><i class="fa fa-check-square"></i>6&nbsp;Featured ads availability</li>
                    <li><i class="fa fa-check-square"></i>For&nbsp;25&nbsp;days</li>
                    <li><i class="fa fa-check-square"></i>100% Secure!</li>
                </ul>

                <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                    <input type="hidden" name="AMT" value="12">
                    <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Standard">
                    <input type="hidden" name="CURRENCYCODE" value="USD">

                    <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="59141914a305b">

                    <input type="hidden" name="user_ID" value="9338">

                    <input type="hidden" name="plan_name" value="Standard">

                    <input type="hidden" name="plan_ads" value="6">

                    <input type="hidden" name="plan_price" value="12">

                    <input type="hidden" name="plan_time" value="25">

                    <input type="hidden" name="date" value="11/05/2017 07:56:04">

                    <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">


                    <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="func" value="start">
                    <button class="form-submit button radius buyBtn" name="op" value="Purchase Now" type="submit">Buy Now</button>

                </form>
            </div>
        </div><!--End Main Col Div -->

        <div class="large-3 medium-6 large-uncentered medium-centered columns priceTable active">
            <div class="popular">
                <p>most popular</p>
            </div>
            <div class="pricePlanV1">
                <!--End Featured Plans Title -->
                <div class="title">
                    <h1>03</h1>
                    <h3>Platinum</h3>
                </div><!--End Title Div-->
                <div class="price">
                    <p>$29 <span>/30D</span></p>
                    <p>Get Started With Classiera Platinum</p>
                </div><!--End Price Div-->
                <ul class="description">
                    <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                    <li><i class="fa fa-check-square"></i>30&nbsp;Featured ads availability</li>
                    <li><i class="fa fa-check-square"></i>For&nbsp;30&nbsp;days</li>
                    <li><i class="fa fa-check-square"></i>100% Secure!</li>
                </ul>

                <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                    <input type="hidden" name="AMT" value="29">
                    <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Platinum">
                    <input type="hidden" name="CURRENCYCODE" value="USD">

                    <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="59141914a3703">

                    <input type="hidden" name="user_ID" value="9338">

                    <input type="hidden" name="plan_name" value="Platinum">

                    <input type="hidden" name="plan_ads" value="30">

                    <input type="hidden" name="plan_price" value="29">

                    <input type="hidden" name="plan_time" value="30">

                    <input type="hidden" name="date" value="11/05/2017 07:56:04">

                    <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">


                    <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="func" value="start">
                    <button class="form-submit button radius buyBtn" name="op" value="Purchase Now" type="submit">Buy Now</button>

                </form>
            </div>
        </div><!--End Main Col Div -->

        <div class="large-3 medium-6 large-uncentered medium-centered columns priceTable ">
            <div class="pricePlanV1">
                <!--End Featured Plans Title -->
                <div class="title">
                    <h1>04</h1>
                    <h3>Premium</h3>
                </div><!--End Title Div-->
                <div class="price">
                    <p>$40 <span>/40D</span></p>
                    <p></p>
                </div><!--End Price Div-->
                <ul class="description">
                    <li><i class="fa fa-check-square"></i>Featured ad posting</li>

                    <li><i class="fa fa-check-square"></i>40&nbsp;Featured ads availability</li>
                    <li><i class="fa fa-check-square"></i>For&nbsp;40&nbsp;days</li>
                    <li><i class="fa fa-check-square"></i>100% Secure!</li>
                </ul>

                <form method="post" action="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/paypal/form-handler.php?func=addrow">
                    <input type="hidden" name="AMT" value="40">
                    <input type="hidden" name="PAYMENTREQUEST_0_DESC" value="Premium">
                    <input type="hidden" name="CURRENCYCODE" value="USD">

                    <input type="hidden" name="PAYMENTREQUEST_0_CUSTOM" value="59141914a3cb3">

                    <input type="hidden" name="user_ID" value="9338">

                    <input type="hidden" name="plan_name" value="Premium">

                    <input type="hidden" name="plan_ads" value="40">

                    <input type="hidden" name="plan_price" value="40">

                    <input type="hidden" name="plan_time" value="40">

                    <input type="hidden" name="date" value="11/05/2017 07:56:04">

                    <input type="hidden" name="url" value="http://demo.joinwebs.com/classiera/wp-content/themes/classiera">


                    <input type="hidden" name="RETURN_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="CANCEL_URL" value="http://demo.joinwebs.com/classiera/profile/">

                    <input type="hidden" name="func" value="start">
                    <button class="form-submit button radius buyBtn" name="op" value="Purchase Now" type="submit">Buy Now</button>

                </form>
            </div>
        </div><!--End Main Col Div -->

    </div><!--End row -->