@{
    Layout = "_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Quản lý người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Quản trị</a></li>
        <li class="active">Quản lý người dùng</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a class="btn btn-block btn-danger pull-left" style="width:15%" asp-action="Create">Tạo</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Tài khoản người dùng</h3>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <span class="label label-success pull-right"><i class="fa fa-search-plus"></i></span>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        @if (Model.Count() == 0)
                                        {
                                            <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th>Tên</th>
                                                <th>Email</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            foreach (Final.Models.BlogMember user in Model)
                                            {
                                                <tr>
                                                    <td>@user.UserName</td>
                                                    <td>@user.Email</td>
                                                    <td>
                                                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                                            <a class="btn btn-sm btn-primary" asp-action="Edit"
                                                               asp-route-id="@user.Id">Edit</a>
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-danger">
                                                                Delete
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


